{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "tsconfig.json",
		"sourceType": "module"
	},
	"extends": ["react-app", "react-app/jest", "plugin:prettier/recommended"],
	"ignorePatterns": [".eslintrc"]
}
