body {
	overflow: auto; /* Show vertical scrollbar */
	background-size: auto 100%;
	background-attachment: fixed;
	background-color: #181818;
}

body::-webkit-scrollbar {
	background-color: rgb(43, 43, 43);
}

body::-webkit-scrollbar-corner {
	background-color: rgb(43, 43, 43);
}

body::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: rgb(107, 107, 107);
	min-height: 24px;
	border: 3px solid rgb(43, 43, 43);
}

@font-face {
	font-family: 'Satoshi';
	src: url('/src/assets/fonts/Satoshi-Variable.woff2') format('woff2 supports variations'),
		url('/src/assets/fonts/Satoshi-Variable.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}
