body {
	overflow-y: scroll; /* Show vertical scrollbar */
	background: url('/src/assets/bg.png') center left no-repeat;
	background-size: auto 100%;
	background-attachment: fixed;
}

@font-face {
	font-family: 'Satoshi';
	src: url('/src/assets/fonts/Satoshi-Variable.woff2') format('woff2 supports variations'),
       url('/src/assets/fonts/Satoshi-Variable.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}