body {
	overflow: auto; /* Show vertical scrollbar */
	background-size: auto 100%;
	background-attachment: fixed;
	background-color: #181818;
}

body::-webkit-scrollbar {
	background-color: rgb(43, 43, 43);
}

body::-webkit-scrollbar-corner {
	background-color: rgb(43, 43, 43);
}

body::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: rgb(107, 107, 107);
	min-height: 24px;
	border: 3px solid rgb(43, 43, 43);
}

.bn-onboard-modal {
	padding-right: 16px;
	padding-left: 16px;
	font-family: 'Satoshi', sans-serif !important;
	background: rgba(18, 18, 18, 0.7) !important;
}

.bn-onboard-modal-content {
	padding: 24px 32px !important;
	background: #2b2b2b !important;
}

.bn-onboard-select-description {
	color: #c3c3c3 !important;
	font-size: 14px !important;
}

.bn-onboard-modal-content-close {
	top: 30px !important;
	right: 30px !important;
	background: #2b2b2b !important;
}

.bn-onboard-modal-content-close svg {
	width: 1rem !important;
	height: 1rem !important;
	fill: white !important;
}

.bn-onboard-modal-select-wallets {
	justify-content: flex-start !important;
	margin-top: 10px !important;
	margin-bottom: 0 !important;
}

.bn-onboard-icon-button {
	position: relative;
	background: #121212 !important;
	padding: 15px 22px !important;
}

.bn-onboard-icon-button > div {
	position: absolute;
	right: 16px;
}

.bn-onboard-icon-button span {
	margin-left: 0 !important;
}

.bn-onboard-icon-button img,
.bn-onboard-icon-button svg {
	width: 27px !important;
	height: 27px !important;
}

.bn-onboard-select-info-container > .bn-onboard-prepare-button {
	display: none;
}

@media (min-width: 681px) {
	.bn-onboard-icon-button {
		width: 271px !important;
	}

	.bn-onboard-modal-select-wallets {
		justify-content: center;
	}

	.bn-onboard-modal-select-wallets div {
		margin-top: 0 !important;
	}

	.bn-onboard-modal-select-wallets li {
		display: flex;
		flex-grow: 0;
		flex-basis: 50%;
		margin-bottom: 23px !important;
	}

	.bn-onboard-modal-select-wallets li:nth-child(even) {
		justify-content: flex-end;
	}
}

@media (max-width: 680px) {
	.bn-onboard-modal-select-wallets li {
		padding: 0 !important;
	}

	ul.bn-onboard-modal-select-wallets > div {
		margin-bottom: 20px !important;
	}
}

@font-face {
	font-family: 'Satoshi';
	src: url('/src/assets/fonts/Satoshi-Variable.woff2') format('woff2 supports variations'),
		url('/src/assets/fonts/Satoshi-Variable.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}
