.unstylish-input,
.unstylish-input:focus,
.unstylish-input:active,
.unstylish-input[type='number'] {
	border: none;
	border-width: 0px;
	outline-offset: 0px;
	outline-color: transparent;
	outline-style: none;

	box-shadow: none;
	background-image: none;
	background-color: transparent;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
.unstylish-input::-webkit-outer-spin-button,
.unstylish-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.unstylish-input::-webkit-input-placeholder,
.unstylish-input::-moz-placeholder,
.unstylish-input:-ms-input-placeholder,
.unstylish-input:-moz-placeholder {
	color: #afafaf;
}
