.bn-onboard-modal-content {
    background-color: #424242 !important;
}
.bn-onboard-icon-button:hover {
    background-color: #242424 !important;
}
.bn-onboard-dark-mode-background-hover:hover {
    background-color: #242424 !important;
}
.bn-onboard-custom.bn-onboard-dark-mode-link {
    color: #F2A52B !important;
    border-color: #F2A52B !important;
}
.bn-onboard-selected-wallet {
    background-color: #242424 !important
}
.bn-onboard-dark-mode-close-background {
    background-color: #242424 !important
}

.bn-onboard-icon-button, .bn-onboard-dark-mode-link {
	border-radius: 9px !important;
}
.bn-onboard-modal-content-header-icon {
	display: none !important;
}

.bn-onboard-modal-content-header-heading {
	margin:0 !important
}
.bn-onboard-select-info-container span {
	color: #fff !important;
	font-size: .8rem;
	font-weight: 500
}