.bn-onboard-modal-content {
    background-color: #424242 !important;
}
.bn-onboard-icon-button:hover {
    background-color: #303030 !important;
}
.bn-onboard-dark-mode-background-hover:hover {
    background-color: #303030 !important;
}
.bn-onboard-custom.bn-onboard-dark-mode-link {
    color: #F2A52B !important;
    border-color: #F2A52B !important;
}
.bn-onboard-selected-wallet {
    background-color: #222 !important
}
.bn-onboard-dark-mode-close-background {
    background-color: #303030 !important
}