name: Create Issue

on:
    issues:
        types: [opened]
jobs:
    track_issue:
        runs-on: ubuntu-latest
        steps:
            - name: Get project data
              env:
                  GITHUB_TOKEN: ${{ secrets.PROJECT_CARD_CREATION }}
                  ORGANIZATION: Badger-Finance
                  PROJECT_NUMBER: 27
              run: |
                  gh api graphql -f query='
                    query($org: String!, $number: Int!) {
                      organization(login: $org){
                        projectNext(number: $number) {
                          id
                        }
                      }
                    }' -f org=$ORGANIZATION -F number=$PROJECT_NUMBER > project_data.json

                  echo 'PROJECT_ID='$(jq '.data.organization.projectNext.id' project_data.json) >> $GITHUB_ENV

            - name: Add issue to project
              env:
                  GITHUB_TOKEN: ${{ secrets.PROJECT_CARD_CREATION }}
                  ISSUE_ID: ${{ github.event.issue.node_id }}
              run: |
                  item_id="$( gh api graphql -f query='
                    mutation($project:ID!, $issue:ID!) {
                      addProjectNextItem(input: {projectId: $project, contentId: $issue}) {
                        projectNextItem {
                          id
                        }
                      }
                    }' -f project=$PROJECT_ID -f issue=$ISSUE_ID --jq '.data.addProjectNextItem.projectNextItem.id')"

                  echo 'ITEM_ID='$item_id >> $GITHUB_ENV
