name: Deploy Prod

on:
    push:
        branches:
            - master

permissions:
    id-token: write
    contents: read

env:
    AWS_REGION: 'us-east-1'
    BUCKET_NAME: 'badger-com-ui-prod'
    ASSUME_ROLE: 'arn:aws:iam::571629509943:role/UI-Deployer-Prod'
    SESSION_NAME: 'ui-deploy-prod'
    DISTRIBUTION_ID: 'E3EDQE7H4FQKH0'
    GENERATE_SOURCEMAP: false
    NODE_ENV: production
    REACT_APP_ARBITRUM_RPC: https://arb-mainnet.g.alchemy.com/v2/C1fMNE8kifOCFP6PXNSlUOoJFq8U_0nT
    REACT_APP_BSC_RPC: https://weathered-spring-water.bsc.quiknode.pro/63e582ed6c17529d98cc064ba97cad1d95650da5/
    REACT_APP_ETH_RPC: https://spring-delicate-paper.quiknode.pro/d1fafe068249a34a1b2c9dc4b36ad92fbcf9fb8c/
    REACT_APP_MATIC_RPC: https://white-patient-glade.matic.quiknode.pro/18a20ffabf304a0b476b92ba91ea9aadaf6a3516/

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - name: Use node.js
              uses: actions/setup-node@v2
              with:
                  node-version: '16.x'
            - name: Install dependencies
              run: yarn install --frozen-lockfile
            - name: Run code linter
              run: yarn lint
            - name: Run tests
              run: yarn test
            - name: Test build
              run: CI=false yarn build
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@master
              with:
                  role-to-assume: ${{ env.ASSUME_ROLE }}
                  role-session-name: ${{ env.SESSION_NAME }}
                  aws-region: ${{ env.AWS_REGION }}
            - name: Upload static site to s3
              run: |
                  aws s3 sync build/. s3://${{ env.BUCKET_NAME }} --delete
            - name: Invalidate old files cached in Cloudfront
              run: |
                  aws cloudfront create-invalidation --distribution-id=${{ env.DISTRIBUTION_ID }} --paths /*
