name: Deploy Dev

on:
    push:
        branches:
            - staging

permissions:
    id-token: write
    contents: read

env:
    AWS_REGION: 'us-east-1'
    BUCKET_NAME: 'badger-com-ui-staging'
    GENERATE_SOURCEMAP: false
    ASSUME_ROLE: 'arn:aws:iam::571629509943:role/UI-Deployer-Staging'
    SESSION_NAME: 'ui-deploy-staging'

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - name: Use node.js
              uses: actions/setup-node@v2
              with:
                  node-version: '16.x'
            - name: Install dependencies
              run: yarn install --frozen-lockfile
            - name: Run code linter
              run: yarn lint
            - name: Run tests
              run: yarn test
            - name: Test build
              run: CI=false yarn build
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@master
              with:
                  role-to-assume: ${{ env.ASSUME_ROLE }}
                  role-session-name: ${{ env.SESSION_NAME }}
                  aws-region: ${{ env.AWS_REGION }}
            - name: Upload static site to s3
              run: |
                  aws s3 sync build/. s3://${{ env.BUCKET_NAME }} --delete
