name: CI

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - name: Use Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: '16.x'
            - name: Install Dependencies
              run: yarn install --frozen-lockfile
            - name: Run Code Linter
              run: yarn lint
            - name: Run Tests
              run: yarn test
            - name: Test Build
              run: CI=false yarn build

env:
    GENERATE_SOURCEMAP: false
